body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#b6660acc;
}

header {
    position: relative;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 100px;
    background-image: url(portada.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;background-color:rgba(12, 11, 49, 0.541);
}

.contacto {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgb(247, 244, 244);
    font-size: 18px;
    background: rgba(32, 32, 36, 0.342);
    padding: 5px 35px; 
    border-radius: 8px;
} /*hago que dentro del header ubique el contacto abajo a la derecha*/

.ubicacion {
    position: absolute;
    right: 20px;
    bottom: 55px;/*Bajar la posicion */
    color: rgb(243, 240, 240);/* Color de la letra*/
    font-size: 18px;
    background: rgba(36, 36, 32, 0.342); /*Color del fondo*/
    padding: 5px 10px;
    border-radius: 10px; /*redondeo del fondo */
} /*hago que dentro del header ubique la ubicacion abajo a la derecha*/

h1 {
    color: rgba(231, 224, 224, 0.795);/* Color del titulo */
}

nav {
    background-color: #291102da; /* Cambia el color del menu */
    color: rgb(225, 224, 235); 
    text-align: center;
    padding: 10px;
}/*crear lista de menu*/

nav a {
    color: rgb(0, 0, 0);/* Camnbia el color de la letra */
    text-decoration: none;
    margin: 0 10px;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    padding: 0 20px;
}

.producto {
    margin-bottom: 20px;
    border: 1px solid #e0dfeba8; /*Borde donde esta el producto */
    padding: 20px;
    overflow: hidden;
    border-radius: 50px;
    margin-right: 2px;
    background-color: hsla(0, 48%, 12%, 0.836); /* Color de la casilla entera */
}

.producto img {
    float: left;
    margin-right: 20px;
    max-width: 140px;
    border-radius: 8px;
}

.producto h2 {
    margin-top: 10;
    color: antiquewhite;
}

.producto p {
    margin: 10px 5;
    color: antiquewhite;
}

button {
    background-color: #000000; /* Color del boton*/
    color: rgb(248, 243, 243); /* Color de la letra dentro del boton */
    border: none;
    padding: 10px 200px;
    border-radius: 100px;
    margin-left: 50px;
    cursor: pointer;/* Para cuando el cursor apolle cambie de color*/
} /* Crea boton de compra*/

button:hover {
    background-color: #13e600; /* A que color cambia cuando lo tocas */
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(240, 225, 225);
    text-align: center;
    padding: 10px;
    bottom: 3;
    width: 100%; /*el ancho que ocupa la parte de abajo*/
}